.changeProfile {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.3); 
    display: none;
    align-items: center;
    justify-content: center;
    z-index: 101;
}

.changeProfile .cardBlock {
    width: 37.5%;
    height: 52.5%;
    background: rgba(0, 0, 0, 0.8);
    border-radius: 10px;
}

.change-profile {
    cursor: pointer;
}

.changeProfile .cardBlock .cardBlockHeader {
    width: 92.5%;
    height: 22.5%;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.changeProfile .cardBlock .cardBlockHeader p {
    font-size: 22.5px;
    font-weight: 500;
    color: #fff;
}

.changeProfile .cardBlock .cardBlockHeader #exit {
    font-size: 22.5px;
    color: gray;
}

.changeProfile .cardBlock .cardBlockHeader #exit:hover {
    font-size: 22.5px;
    color: #fff;
}

.changeProfile .cardBlock .cardBlockBody {
    width: 95%;
    height: 60%;
    margin: 0 auto;
    display: flex;
}

.changeProfile .cardBlock .cardBlockBody .cardBlockBody-left {
    width: 40%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.changeProfile .cardBlock .cardBlockBody .cardBlockBody-left img {
    width: 90%;
    height: 90%;
    border-radius: 50%;
    object-fit: cover;
}

.changeProfile .cardBlock .cardBlockBody .cardBlockBody-right {
    width: 60%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.changeProfile .cardBlock .cardBlockBody .cardBlockBody-right .changeName {
    width: 90%;
    height: 20%;
}

.changeProfile .cardBlock .cardBlockBody .cardBlockBody-right .changeName input {
    width: 100%;
    height: 100%;
    background: hsla(0, 0%, 100%, 0.1);
    border: 1px solid transparent;
    border-radius: 4px;
    font-size: 14px;
    color: #fff;
    padding: 0 12px;
}

.changeProfile .cardBlock .cardBlockBody .cardBlockBody-right .cardBlockBody-rightButton {
    width: 90%;
    height: 30%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-top: 2%;
}

.changeProfile .cardBlock .cardBlockBody .cardBlockBody-right .cardBlockBody-rightButton button {
    width: 32.5%;
    height: 87.5%;
    font-size: 15px;
    font-weight: 500;
    border: none;
    border-radius: 20px;
    background: #fff;
    color: black;
    cursor: pointer;
}

.changeProfile .cardBlock .cardBlockFooter {
    width: 92.5%;
    height: 17.5%;
    margin: 0 auto;
}

.changeProfile .cardBlock .cardBlockFooter p {
    font-size: 10px;
    font-weight: 500;
    color: #fff;
}
