header {
    width: 82.5%;
    height: 13%;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 1000;
}

header .header-overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

header .header-popup {
    width: 10%;
    max-height: 30%;
    position: fixed;
    top: 17%;
    left: 90%;
    transform: translate(-50%, -50%);
    background: #FFD180;
    border: 1px solid #ccc;
    border: none;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    display: none;
}

header .header-popup a {
    display: block;
    text-decoration: none;
    color: #333;
    margin: 5px 0;
    padding: 5px;
    transition: background-color 0.3s;
    font-size: 15px;
    font-weight: 500;
}

header .header-popup a:hover {
    background: rgba(0, 0, 0, 0.1);
}

header .head-bar {
    width: 100%;
    height: 100%;
    background-color: black;
    display: flex;
}

header .head-bar .left {
    width: 65%;
    height: 100%;
    display: flex;
    align-items: center;
    margin-left: 2.5%;
    z-index: 2;
}

header .head-bar .left nav {
    width: 100%;
    height: 100%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

header .head-bar .left nav .for-backward {
    width: 11%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-right: 5%;
}

header .head-bar .left nav .for-backward .bi {
    font-size: 25px;
    border-radius: 20%;
    background: rgba(0, 0, 0, 0.5);
    cursor: pointer;
    color: gray;
}

header .head-bar .left nav .for-backward .bi:hover {
    background: rgba(255, 255, 255, 0.25);
    color: #fff;
}

header .head-bar .left nav .input-search {
    position: relative;
    width: 50%;
    height: 50%;
    border-radius: 20px;
    color: gray;
    display: flex;
    align-items: center;
    padding-left: 5px;

}

header .head-bar .left nav .input-search::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 20px;
    background: rgba(184, 184, 184, .1);
    backdrop-filter: blur(5px);
    z-index: -1;
    border: 3px solid rgba(255, 255, 255, .25);
}

header .head-bar .left nav .input-search .bi {
    font-size: 20px;
    padding: 0 10px;
}

header .head-bar .left nav .input-search input {
    background: none;
    outline: none;
    border: none;
    padding: 0 10px;
    color: #fff;
    font-size: 15px;
    cursor: auto;
}


header .head-bar .right {
    width: 37.73%;
    height: 100%;
    margin-right: 2%;
}

header .head-bar .right nav {
    width: 100%;
    height: 100%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

header .head-bar .right button {
    width: 37.5%;
    height: 40%;
    font-size: 13px;
    font-weight: 700;
    border: none;
    border-radius: 20px;
    cursor: pointer;
}

header .head-bar .right .bi {
    font-size: 22.5px;
    cursor: pointer;
    margin: 0 5%;
    color: gray;
}

header .head-bar .right .bi:hover {
    color: #fff;
}

header .head-bar .right .user-profile img {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    cursor: pointer;
}

header {
    width: 82.5%;
    height: 13%;
    /*     display: flex;
    flex-wrap: wrap; */
    overflow: hidden;
    position: fixed;
    top: 0;
    right: 0;

}

header .head-bar {
    width: 100%;
    height: 100%;
    background-color: black;
    display: flex;
}

header .head-bar .left {
    width: 65%;
    height: 100%;
    display: flex;
    align-items: center;
    margin-left: 2.5%;
    z-index: 2;
}

header .head-bar .left nav {
    width: 100%;
    height: 100%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

header .head-bar .left nav .for-backward {
    width: 11%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-right: 5%;
}

header .head-bar .left nav .for-backward .bi {
    font-size: 25px;
    border-radius: 20%;
    background: rgba(0, 0, 0, 0.5);
    cursor: pointer;
    color: gray;
}

header .head-bar .left nav .for-backward .bi:hover {
    background: rgba(255, 255, 255, 0.25);
    color: #fff;
}

header .head-bar .left nav .input-search {
    position: relative;
    width: 50%;
    height: 50%;
    border-radius: 20px;
    color: gray;
    display: flex;
    align-items: center;
    padding-left: 5px;

}

header .head-bar .left nav .input-search::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 20px;
    background: rgba(184, 184, 184, .1);
    backdrop-filter: blur(5px);
    z-index: -1;
    border: 3px solid rgba(255, 255, 255, .25);
}

header .head-bar .left nav .input-search .bi {
    font-size: 20px;
    padding: 0 10px;
}

header .head-bar .left nav .input-search input {
    background: none;
    outline: none;
    border: none;
    padding: 0 10px;
    color: #fff;
    font-size: 15px;
    cursor: auto;
}


header .head-bar .right {
    width: 37.73%;
    height: 100%;
    margin-right: 2%;
}

header .head-bar .right nav {
    width: 100%;
    height: 100%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

header .head-bar .right button {
    width: 37.5%;
    height: 40%;
    font-size: 13px;
    font-weight: 700;
    border: none;
    border-radius: 20px;
    cursor: pointer;
}

header .head-bar .right .bi {
    font-size: 22.5px;
    cursor: pointer;
    margin: 0 5%;
    color: gray;
}

header .head-bar .right .bi:hover {
    color: #fff;
}

header .head-bar .right .user-profile img {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    cursor: pointer;
}