@import url("https://fonts.googleapis.com/css2?family=Work+Sans:wght@100;200;300;400;500;600;700&display=swap");

:root {
    --primary: #ffab40;
    --secondary: #ffd180;
}

* {
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
    font-family: "Work Sans", sans-serif;
}

body {
    width: 100%;
    height: 100vh;
}

header {
    width: 82.5%;
    height: 13%;
    overflow: hidden;
    position: fixed;
    top: 0;
    right: 0;
}

header .head-bar {
    width: 100%;
    height: 100%;
    background-color: black;
    display: flex;
}

header .head-bar .left {
    width: 65%;
    height: 100%;
    display: flex;
    align-items: center;
    margin-left: 2.5%;
    z-index: 2;
}

header .head-bar .left nav {
    width: 100%;
    height: 100%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

header .head-bar .left nav .for-backward {
    width: 11%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-right: 5%;
}

header .head-bar .left nav .for-backward .bi {
    font-size: 25px;
    border-radius: 20%;
    background: rgba(0, 0, 0, 0.5);
    cursor: pointer;
    color: gray;
}

header .head-bar .left nav .for-backward .bi:hover {
    background: rgba(255, 255, 255, 0.25);
    color: #fff;
}

header .head-bar .left nav .input-search {
    position: relative;
    width: 50%;
    height: 50%;
    border-radius: 20px;
    color: gray;
    display: flex;
    align-items: center;
    padding-left: 5px;
}

header .head-bar .left nav .input-search::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 20px;
    background: rgba(184, 184, 184, 0.1);
    backdrop-filter: blur(5px);
    z-index: -1;
    border: 3px solid rgba(255, 255, 255, 0.25);
}

header .head-bar .left nav .input-search .bi {
    font-size: 20px;
    padding: 0 10px;
}

header .head-bar .left nav .input-search input {
    background: none;
    outline: none;
    border: none;
    padding: 0 10px;
    color: #fff;
    font-size: 15px;
    cursor: auto;
}

header .head-bar .right {
    width: 37.73%;
    height: 100%;
    margin-right: 2%;
}

header .head-bar .right nav {
    width: 100%;
    height: 100%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

header .head-bar .right button {
    width: 37.5%;
    height: 40%;
    font-size: 13px;
    font-weight: 700;
    border: none;
    border-radius: 20px;
    cursor: pointer;
}

header .head-bar .right .bi {
    font-size: 22.5px;
    cursor: pointer;
    margin: 0 5%;
    color: gray;
}

header .head-bar .right .bi:hover {
    color: #fff;
}

header .head-bar .right .user-profile img {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    cursor: pointer;
}

article {
    width: 82.5%;
    position: fixed;
    top: 13%;
    bottom: 12%;
    right: 0;
}

.inside a {
    text-decoration: none;
    color: gray;
}

article .container {
    width: 100%;
    height: 100%;
    background: black;
    overflow-y: scroll;
}

article .container .space-inside {
    width: 100%;
    height: 5%;
    background-color: black;
}

article .container .inside {
    width: 97.5%;
    height: calc(7500% / 87);
    margin: 0 auto;
}

article .container .inside .top {
    width: 100%;
    height: 50%;
    background: var(--primary);
    margin: 0 auto;
    margin-top: 0.5%;
    display: flex;
    flex-direction: row;
    align-items: center;
    border-radius: 5px;
}

article .container .inside .top .topLeft {
    width: 17.5%;
    height: 87.5%;
    overflow: hidden;
    border-radius: 5px;
    margin: 0 3% 0 7.5%;
}

article .container .inside .top .topLeft img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    image-rendering: crisp-edges;
}

article .container .inside .top .topRight {
    width: 55%;
    height: 70%;
    overflow: hidden;
}

article .container .inside .top .topRight p {
    width: 95%;
    overflow: hidden;
    color: black;
}

article .container .inside .top .topRight #line1,
article .container .inside .top .topRight #line3 {
    display: inline;
    font-size: 14px;
    font-weight: 500;
}

article .container .inside .top .topRight #line2 {
    display: inline;
    font-size: 60px;
    font-weight: 700;
}

article .container .inside .middle {
    width: 100%;
    height: 17.5%;
    background: black;
}

article .container .inside .middle .middleLeft {
    width: 15%;
    height: 100%;
    margin-left: 2%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    font-size: 30px;
}

article .container .inside .middle .middleLeft #startList {
    color: var(--primary);
    font-size: 40px;
}

article .container .inside .middle .middleLeft #loveList:hover,
article .container .inside .middle .middleLeft #threeDot:hover {
    color: white;
}

article .container .inside .bottom {
    width: 100%;
    height: auto;
    background: #212529;
}

#col5 {
    width: 5%;
}

#col10 {
    width: 10%;
}

#col20 {
    width: 20%;
}

#col30 {
    width: 30%;
}

article .container .inside .bottom td {
    border-bottom: none;
    /* Loại bỏ cách gạch dưới */
    vertical-align: middle;
}

article .container .inside .bottom .song {
    width: 100%;
    height: 70px;
}

article .container .inside .bottom .song .songInfo {
    width: 100%;
    height: 50px;
    display: flex;
    flex-direction: row;
}

article .container .inside .bottom .song .songInfo .songImg {
    width: 15%;
    height: 50px;
}

article .container .inside .bottom .song .songInfo .songImg img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    image-rendering: crisp-edges;
}

article .container .inside .bottom .song .songInfo .songDetails {
    width: 80%;
    height: 50px;
    display: flex;
    flex-direction: column;
    margin-left: 5%;
}

article .container .inside .bottom .song .songInfo .songDetails p {
    width: 100%;
    height: 10px;
    font-weight: 500;
}

article .container .inside .bottom .song a {
    font-weight: 500;
}

#col5 i {
    font-size: 16px;
    font-weight: 500;
}

.btn-like {
    margin-left: 30%;
    background: none;
    color: white;
    border: none;
}

.btn-like:hover {
    color: red;
}

.change-color {
    color: red;
}

article .popup {
    width: 12.5%;
    max-height: 30%;
    position: fixed;
    top: 72%;
    left: 84.5%;
    transform: translate(-50%, -50%);
    background: var(--secondary);
    border: 1px solid #ccc;
    z-index: 1000;
    border: none;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    display: none;
}

article .popup p {
    width: 100%;
    height: 35px;
    margin: 0;
    display: flex;
    align-items: center;
    font-size: 15px;
    font-weight: 500;
    cursor: pointer;
    padding-left: 3%;
}

article .popup p:hover,
article .popup1 p:hover,
article .popup2 p:hover {
    background: rgba(0, 0, 0, 0.1);
}

article .popup p:nth-child(1):hover {
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
}

article .popup p:nth-last-child(1):hover,
article .popup1 p:nth-last-child(1):hover,
article .popup2 p:nth-last-child(1):hover {
    border-bottom-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

article .popup1,
article .popup2 {
    width: 12.5%;
    max-height: 30%;
    position: fixed;
    top: 70%;
    left: 71.5%;
    transform: translate(-50%, -50%);
    background: var(--secondary);
    border: 1px solid #ccc;
    z-index: 1000;
    border: none;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    display: none;
}

article .popup1 p,
article .popup2 p {
    width: 100%;
    min-height: 35px;
    margin: 0;
    display: flex;
    align-items: center;
    font-size: 15px;
    font-weight: 500;
    cursor: pointer;
    padding-left: 3%;
}

article .popup1 p:nth-child(1) {
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    border-bottom: 1.5px solid black;
}

article .overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1000;
}

::-webkit-scrollbar {
    width: 7px;
}

::-webkit-scrollbar-thumb {
    background-color: #888;
    border-radius: 4px;
}

footer {
    width: 100%;
    height: 12%;
    position: fixed;
    bottom: 0;
    left: 0;
}

footer .playBack {
    width: 100%;
    height: 100%;
    background: var(--primary);
    display: flex;
}

footer .playBack .playBack-left {
    width: 30%;
    height: 100%;
}

footer .playBack .playBack-left .songPlaying {
    width: 100%;
    height: 100%;
    display: flex;
}

footer .playBack .playBack-left .songPlaying .songPlaying-space {
    width: 7.5%;
    height: 100%;
}

footer .playBack .playBack-left .songPlaying-img {
    width: 27.5%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

footer .playBack .playBack-left .songPlaying-img img {
    width: 50%;
    height: 70%;
    border-radius: 5px;
    border: 1px solid rgba(255, 204, 128, 1);
}

footer .playBack .playBack-left .songPlaying-details {
    width: 57.5%;
    height: 100%;
    background: var(--primary);
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#songPlaying-details-name {
    text-decoration: none;
    color: black;
    font-size: 17px;
    font-weight: 600;
}

#songPlaying-details-author {
    margin-top: 1%;
    text-decoration: none;
    color: rgba(0, 0, 0, 0.5);
    font-size: 13px;
    font-weight: 500;
}

footer .playBack .playBack-mid {
    width: 40%;
    height: 100%;
}

footer .playBack .playBack-mid .playBack-control {
    width: 100%;
    height: 60%;
    display: flex;
}

footer .playBack .playBack-mid .playBack-control .playBack-control-space {
    width: 35%;
    height: 100%;
}

footer .playBack .playBack-mid .playBack-control .playBack-control-button {
    width: 30%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

footer .playBack .playBack-mid .playBack-control .playBack-control-button a {
    color: black;
    font-size: 30px;
}

footer .playBack .playBack-mid .playBack-bar {
    width: 100%;
    height: 40%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.seek-bar {
    width: 80%;
    height: 10px;
    border-radius: 10px;
    background: #fff;
    cursor: pointer;
    overflow: hidden;
}

.playBack-bar span {
    font-size: 14px;
}

footer .playBack .playBack-right {
    width: 30%;
    height: 100%;
}
