@import url("https://fonts.googleapis.com/css2?family=Work+Sans:wght@100;200;300;400;500;600;700&display=swap");

:root {
    --primary: #ffab40;
    --secondary: #ffd180;
}

.inside a {
    text-decoration: none;
    color: gray;
}

.page {
    width: 82.5%;
    height: 100%;
    position: fixed;
    top: 0;
    right: 0;
}

.space1 {
}

.container {
    margin-top: 6%;
    min-width: 100%;
    height: 75%;
    background: black;
    overflow-y: scroll;
}

.space2 {
    width: 100%;
    height: 12%;
}

.container .space-inside {
    width: 100%;
    height: 5%;
    background-color: black;
}

.container .inside {
    width: 97.5%;
    height: calc(7500% / 87);
    margin: 0 auto;
}

.container .inside .top {
    width: 100%;
    height: 50%;
    background: var(--primary);
    margin: 0 auto;
    margin-top: 0.5%;
    display: flex;
    flex-direction: row;
    align-items: center;
    border-radius: 5px;
}

.container .inside .top .topLeft {
    width: 17.5%;
    height: 87.5%;
    overflow: hidden;
    border-radius: 5px;
    margin: 0 3% 0 7.5%;
}

.container .inside .top .topLeft img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    image-rendering: crisp-edges;
}

.container .inside .top .topRight {
    width: 55%;
    height: 70%;
    overflow: hidden;
}

.container .inside .top .topRight p {
    width: 95%;
    overflow: hidden;
    color: black;
}

.container .inside .top .topRight #line1,
.container .inside .top .topRight #line3 {
    display: inline;
    font-size: 14px;
    font-weight: 500;
}

.container .inside .top .topRight #line2 {
    display: inline;
    font-size: 60px;
    font-weight: 700;
}

.container .inside .middle {
    width: 100%;
    height: 17.5%;
    background: black;
}

.middleLeft {
    width: 15%;
    height: 100%;
    margin-left: 2%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    font-size: 30px;
}

#startList {
    color: var(--primary);
    font-size: 40px;
}

#loveList:hover,
#threeDot:hover {
    color: white;
}

.container .inside .bottom {
    width: 100%;
    height: auto;
    background: #212529;
}

#col5 {
    width: 5%;
}

#col10 {
    width: 10%;
}

#col20 {
    width: 20%;
}

#col30 {
    width: 30%;
}

.container .inside .bottom td {
    border-bottom: none;
    /* Loại bỏ cách gạch dưới */
    vertical-align: middle;
}

.container .inside .bottom .song {
    width: 100%;
    height: 70px;
}

.container .inside .bottom .song .songInfo {
    width: 100%;
    height: 50px;
    display: flex;
    flex-direction: row;
}

.container .inside .bottom .song .songInfo .songImg {
    width: 15%;
    height: 50px;
}

.container .inside .bottom .song .songInfo .songImg img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    image-rendering: crisp-edges;
}

.container .inside .bottom .song .songInfo .songDetails {
    width: 80%;
    height: 50px;
    display: flex;
    flex-direction: column;
    margin-left: 5%;
}

.container .inside .bottom .song .songInfo .songDetails p {
    width: 100%;
    height: 10px;
    font-weight: 500;
}

.container .inside .bottom .song a {
    font-weight: 500;
}

#col5 i {
    font-size: 16px;
    font-weight: 500;
}

.btn-like {
    margin-left: 30%;
    background: none;
    color: white;
    border: none;
}

.btn-like:hover {
    color: red;
}

.change-color {
    color: red;
}

.popup {
    width: 12.5%;
    max-height: 30%;
    position: fixed;
    top: 72%;
    left: 84.5%;
    transform: translate(-50%, -50%);
    background: var(--secondary);
    border: 1px solid #ccc;
    z-index: 1000;
    border: none;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    display: none;
}

.popup p {
    width: 100%;
    height: 35px;
    margin: 0;
    display: flex;
    align-items: center;
    font-size: 15px;
    font-weight: 500;
    cursor: pointer;
    padding-left: 3%;
}

.popup p:hover,
.popup1 p:hover,
.popup2 p:hover {
    background: rgba(0, 0, 0, 0.1);
}

.popup p:nth-child(1):hover {
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
}

.popup p:nth-last-child(1):hover,
.popup1 p:nth-last-child(1):hover,
.popup2 p:nth-last-child(1):hover {
    border-bottom-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

.popup1,
.popup2 {
    width: 12.5%;
    max-height: 30%;
    position: fixed;
    top: 70%;
    left: 71.5%;
    transform: translate(-50%, -50%);
    background: var(--secondary);
    border: 1px solid #ccc;
    z-index: 1000;
    border: none;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    display: none;
}

.popup1 p,
.popup2 p {
    width: 100%;
    min-height: 35px;
    margin: 0;
    display: flex;
    align-items: center;
    font-size: 15px;
    font-weight: 500;
    cursor: pointer;
    padding-left: 3%;
}

.popup1 p:nth-child(1) {
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    border-bottom: 1.5px solid black;
}

.overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1000;
}

::-webkit-scrollbar {
    width: 7px;
}

::-webkit-scrollbar-thumb {
    background-color: #888;
    border-radius: 4px;
}
