@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@100;200;300;400;500;600;700&display=swap');

:root {
    --primary: #FFAB40;
    --secondary: rgba(255, 204, 128, 1.0);
}

* {
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
    font-family: 'Work Sans', sans-serif;
}

body {
    width: 100%;
    height: 100vh;
}

article {
    width: 82.5%;
    position: fixed;
    top: 13%;
    bottom: 12%;
    right: 0;
}

article .container {
    width: 100%;
    height: 100%;
    background: black;
    overflow-y: scroll;
}

article .container .inside {
    width: 97.5%;
    height: calc(7500%/87);
    margin: 0 auto;
}

article .container .space-inside {
    width: 100%;
    height: 5%;
    background-color: black;
}

article .container .inside .advertise {
    width: 100%;
    height: 40%;
    background: var(--primary);
    border-radius: 10px;
    margin: 0 auto;
    margin-top: 0.5%;
    display: flex;
    flex-direction: row;
    align-items: center;
}

article .container .inside .advertise .left {
    width: 17.5%;
    height: 85%;
    overflow: hidden;
    border-radius: 5px;
    margin: 0 3% 0 10%;
}

article .container .inside .advertise .left img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    image-rendering: crisp-edges;
}

article .container .inside .advertise .right {
    width: 55%;
    height: 90%;
    overflow: hidden;
}

article .container .inside .advertise .right h5 {
    width: 95%;
    color: black;
    margin: 0 0 0 0;
    text-decoration: none;
}

article .container .inside .advertise .right a {
    display: inline-block;
    width: 95%;
    font-size: 47.5px;
    font-weight: 600;
    color: black;
    text-decoration: none;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

article .container .inside .advertise .right p {
    display: inline-block;
    width: 95%;
    font-size: 14px;
    font-weight: 500;
    color: black;
    text-decoration: none;
    margin-bottom: 0.5%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

article .container .inside .advertise .right button {
    width: 15%;
    height: 25%;
    font-size: 15px;
    font-weight: 500;
    border: 2px solid rgba(255, 204, 128, 1.0);
    border-radius: 20px;
    background: black;
    color: white;
    cursor: pointer;
}

#playButton {
    margin-right: 3%;
}

#followButton {
    margin-right: 3%;
}

article .container .inside .advertise .right i {
    font-size: 25px;
    color: black;
    cursor: pointer;
}

article .container .inside .menu {
    width: 100%;
    height: 65%;
    background: rgba(255, 255, 255, 0.15);
    border-radius: 10px;
    margin-top: 2%;
}

article .container .inside .menu .playList {
    width: 95%;
    height: 100%;
    margin: 0 auto;
}

article .container .inside .menu .playList #type {
    display: inline-block;
    width: 50%;
    height: 10%;
    font-size: 22.5px;
    font-weight: 600;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    color: #FFF;
    margin: 1% 0;
    margin-left: -1%;
}

article .container .inside .menu .playList .list {
    width: 100%;
    height: 77.5%;
    display: flex;
}

article .container .inside .menu .playList .list .song {
    width: 17.5%;
    height: 95%;
    background: rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    margin: auto 0;
    margin-right: 3%;
    /* Đặt khoảng cách giữa các ô ở đây */
}

article .container .inside .menu .playList .list .song:last-child {
    margin-right: 0;
    /* Loại bỏ margin-right cho ô cuối cùng */
}

article .container .inside .menu .playList .list a {
    text-decoration: none;
}

article .container .inside .menu .playList .list .song:hover {
    background: rgba(255, 255, 255, 0.1);

}

article .container .inside .menu .playList .list .song .songImg {
    width: 100%;
    height: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
}

article .container .inside .menu .playList .list .song .songImg img {
    width: 80%;
    height: 85%;
    border-radius: 10px;
    object-fit: cover;
}

article .container .inside .menu .playList .list .song .songDetail {
    width: 100%;
    height: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#nameSong {
    margin-top: 2%;
    font-size: 15px;
    font-weight: 800;
    color: #fff;
}

#nameAuthor {
    margin-top: 2%;
    font-size: 12px;
    font-weight: 500;
    color: gray;
}